VITE_SITE_URL=https://www.estacionfitness.com
VITE_PUBLIC_PHONE=5490000000000
VITE_GOOGLE_FORM_URL=https://forms.gle/TUFORMULARIO
VITE_INSTAGRAM_URL=https://www.instagram.com/tu_cuenta/
VITE_TIKTOK_URL=https://www.tiktok.com/@tu_cuenta
