VITE_SITE_URL=https://www.tudominio.com
VITE_PUBLIC_PHONE=543764227809
VITE_GOOGLE_FORM_URL=https://forms.gle/Abkf7EsW5d45QVPy8
VITE_INSTAGRAM_URL=https://www.instagram.com/estacion_fitness_/
VITE_TIKTOK_URL=https://www.tiktok.com/@estacionfitnes22
